* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.container {
  width: 960px;
  margin: 0 auto; }

header {
  text-align: center;
  text-transform: uppercase; }

section.grid-top {
  display: grid;
  margin-bottom: 12px; }

section.grid-middle {
  display: grid;
  grid-template-columns: 1fr 30fr 1fr; }

section.grid-bottom {
  display: grid;
  margin-top: 12px; }

footer {
  text-align: center;
  margin-top: 1em; }

article {
  background-color: #efefff;
  padding: 12px;
  border: 1px solid #dedede;
  margin: 0 12px; }
  article h1 {
    font-size: 1.5em; }
  article img {
    max-height: 300px;
    float: left;
    padding: 1em; }

aside {
  min-height: 50px; }
  aside .content {
    display: flex;
    flex-wrap: wrap; }
  aside.pink {
    background-color: #ffdcdc; }
    aside.pink.active {
      border: 3px dotted black; }
  aside.yellow {
    background-color: #ffff86; }
    aside.yellow.active {
      border: 3px dotted black; }
  aside.green {
    background-color: lightgreen; }
    aside.green.active {
      border: 3px dotted black; }
  aside.black {
    background-color: lightgray; }
    aside.black.active {
      border: 3px dotted black; }

.modal {
  position: absolute;
  font-weight: normal;
  z-index: 20;
  height: 200px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #000; }
  .modal-header {
    height: 60px;
    padding: 8px;
    display: flex;
    align-items: center; }
  .modal-dragPanel {
    width: 255px;
    min-height: 30px;
    background-color: #828a8a;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 4px;
    word-wrap: break-word; }
  .modal-close {
    position: absolute;
    right: 10px;
    cursor: pointer; }
  .modal-content {
    padding: 8px;
    height: 130px;
    overflow-y: auto; }

.modal.red {
  background-color:#ffdfdf;
}
.modal.blue {
  background-color: #cfcfff;
}
.modal.green {
  background-color: #ceffce;
}
.modal.yellow {
  background-color: #ffffcd;
}
.modal.purple {
  background-color: #f7c7f7;
}
.modal.gray {
  background-color: #e2e2e2;
}

/* by ishayahu*/
.term{
  font-style: italic;
}
.need_work{
  background-color: red;
}