<!DOCTYPE html>
<html lang="Ru-ru">
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{%  static 'texts/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static "texts/css/main.css" %}" />
    <link rel="stylesheet" href="{% static "texts/css/authors.css" %}" />

    {% block head %}
    {% endblock %}

</head>
{% block body %}
{% endblock %}
<div class="cardStorage"></div>
</html>
