{% extends 'texts/base.html' %}
{% block head %}
    <style>
        .control{
            cursor: pointer
        }
    </style>
{% endblock %}
{% block body %}
<body>
    {{ info | safe }}
    <ol>
    {{ html_toc | safe }}
    </ol>
{#    <ul>#}
{#        {% for item in content.items %}#}
{#            <li> {{ item.html_indentation | safe }}#}
{#                 <a href="{% url 'open_from_xml' author.storage_id book.storage_id item.get_link_params %}">{{ item | safe}}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

</body>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function (){
            $(".control").each(function(index) {
                    $(this).on("click", function () {
                        let toc_id = $(this).attr('data_id');
                        if ($(`#${toc_id}`).is(":visible")){
                            $(`#${toc_id}`).hide();
                            $(`#${toc_id}_control`).text("...")
                        }else{
                            $(`#${toc_id}`).show();
                            $(`#${toc_id}_control`).text("↑↑↑")
                        }
                    })
                })
            })
    </script>

{% endblock %}
