{% extends 'texts/baseBootstrap5.html' %}
{% block head %}
    <style>
        .control{
            cursor: pointer
        }
    </style>
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <div class="row">
            {{ info | safe }}
        </div>
        <div class="row">
            <ol>
                {{ html_toc | safe }}
            </ol>
        </div>
    </div>



</body>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function (){
            $(".control").each(function(index) {
                    $(this).on("click", function () {
                        let toc_id = $(this).attr('data_id');
                        if ($(`#${toc_id}`).is(":visible")){
                            $(`#${toc_id}`).hide();
                            $(`#${toc_id}_control`).text("...")
                        }else{
                            $(`#${toc_id}`).show();
                            $(`#${toc_id}_control`).text("↑↑↑")
                        }
                    })
                })
            })
    </script>

{% endblock %}
