{% extends 'texts/baseBootstrap5.html' %}
{% block body %}
<body>
    <div class="container">
    <form action="/utils/search/" method="post">
        {% csrf_token %}
        <input type="text" name="search_string" />
        <input type="submit" value="Искать">
    </form>
    <ul>
        {% for group in authors %}
            {% for author in group %}

                {% if author.first %}
                    ---------{{ group.name | upper }}---------
                {% endif %}
                <li><a href="{% url 'author' author.storage_id %}">{{ author }}</a></li>
            {% endfor %}
{#            <li>{{ author.storage_id }} / {{ author }}</li>#}
        {% endfor %}
    </ul>
    </div>
</body>
{% endblock %}