{% extends 'texts/base.html' %}
{% block head %}
    <!-- OpenGraph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ pulished_time }}" />
    <meta property="og:url" content= "{{ url }}" />
    <!-- End OpenGraph -->

{% endblock %}
{% block body %}
<body>

  <div class="container">

    <header>
      <h1>{{ header }}</h1>
    </header>
    {% if up %}
      <a href="{{ up }}">К содержанию</a>
    {% endif %}

    <section class="grid">

      <aside class="aside-x green">
        <div class="content"></div>
      </aside>

      <aside class="aside-y pink">
        <div class="content"></div>
      </aside>

      <article>
        
        {{ text | safe }}


      </article>

      <aside class="aside-y yellow">
        <div class="content"></div>
      </aside>

      <aside class="aside-x black">
        <div class="content"></div>
      </aside>

    </section>
        {% if prev %}
      <a href="{{ prev }}">Назад</a>
    {% endif %}
    {% if next %}
      <a href="{{ next }}">Вперёд</a>
    {% endif %}

    <footer>
      &copy; 2019 LaSil
    </footer>

  </div>

  <div class="modals-wrapper"></div>
  
</body>
{% load static %}
<script src="{% static "texts/js/main.js" %}"></script>
{% endblock %}