<!DOCTYPE html>
<html lang="Ru-ru">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static "texts/css/main.css" %}" />
    <link rel="stylesheet" href="{% static "texts/css/authors.css" %}" />
</head>
<body>

  <div class="container">

    <header>
      <h1>{{ header }}</h1>
    </header>
    {% if up %}
      <a href="{{ up }}">К содержанию</a>
    {% endif %}

    <section class="grid-top">
      <aside class="green">
        <div class="content"></div>
      </aside>
    </section>

    <section class="grid-middle">

      <aside class="pink">
        <div class="content"></div>
      </aside>

      <article>
        
        {{ text | safe }}


      </article>

      <aside class="yellow">
        <div class="content"></div>
      </aside>

    </section>

    <section class="grid-bottom">
      <aside class="black">
        <div class="content"></div>
      </aside>
    </section>
        {% if prev %}
      <a href="{{ prev }}">Назад</a>
    {% endif %}
    {% if next %}
      <a href="{{ next }}">Вперёд</a>
    {% endif %}

    <footer>
      &copy; 2019
    </footer>

  </div>

  <div class="modals-wrapper"></div>
  
</body>
<script src="{% static "texts/js/main.js" %}"></script>
</html>