{% extends 'texts/base.html' %}
{% block head %}
    <!-- OpenGraph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ pulished_time }}" />
    <meta property="og:url" content= "{{ url }}" />
    <!-- End OpenGraph -->

{% endblock %}
{% block body %}
<body>

  <div class="container">

    <header>
      <h1>{{ header }}</h1>
    </header>
    <a href="/">На главную</a> ➔
    <a href="{% url 'author' link.author_name.storage_id %}">{{ link.author_name.full_name }}</a> ➔
{#    <a href="{{ link.author_name.storage_id}}">{{ link.author_name.full_name }}</a> ➔#}
    <a href="{% url 'book' link.author_name.storage_id link.book.storage_id %}">{{ link.book }}</a> ➔
{#    <a href="{{ link.book.storage_id }}">{{ link.book }}</a> ➔#}
    {% if up %}
      <a href="{{ up }}">К содержанию</a>
    {% endif %}

    <section class="grid">

      <aside class="aside-x green">
        <div class="content"></div>
      </aside>

      <aside class="aside-y pink">
        <div class="content"></div>
      </aside>

      <article>
        
        {{ text | safe }}


      </article>

      <aside class="aside-y yellow">
        <div class="content"></div>
      </aside>

      <aside class="aside-x black">
        <div class="content"></div>
      </aside>

    </section>



    {% if prev %}
        <div style="float:left;"><a href="{{ prev }}">Назад</a></div>
    {% endif %}
    {% if next %}
        <div style="float:right"><a href="{{ next }}">Вперёд</a></div>
    {% endif %}

    <footer>
      &copy; 2019-{% now "Y" %} LaSil
    </footer>

  </div>

  <div class="modals-wrapper"></div>
  <script>
	$(document).ready(function(){
		$(".comment_text").each(function(){
			let number = $(this).attr('id');
			if (number){
				$(this).hide()
			}
		});
		$("sup").each(function(){
			let number = $(this).attr('id');
			if (number){
				number = number.replace("sup",'');
				$(this).click(function(){
					let comment = $(`#comment${number}`);
					if(comment.is(":hidden")){
						$(`#comment${number}`).show();
					}else{
						$(`#comment${number}`).hide();
					}
				})
			}
			
		});
	})
  </script>
    <script>
        document.addEventListener('DOMContentLoaded', ()=>{
            function termDefinitionShow(element){
                console.log(element.target);
                let target = element.target;
                let term = target.innerText;
                fetch(encodeURI(`/api/term/${term}/`))
                .then((response)=>{
                    if(!response.ok){
                        throw new Error(`HTTP error: ${response.status}`);
                    }
                    return response.text();
                }).then((text)=>{
                    let result = JSON.parse(text);
                    console.log(result);
                    let t = document.createElement('span');
                    let tclose = document.createElement('span');
                    t.innerText = result['definition'];
                    t.classList.add('termdefinition');
                    tclose.classList.add('termdefinition-close');

                    tclose.innerText = 'X';
                    target.appendChild(t);
                    t.appendChild(tclose);
                    tclose.addEventListener('click',(e)=>{
                        tclose.remove();
                        t.remove();
                        e.stopImmediatePropagation();
                    });
                    // позиционируем так чтобы не вылезало
                    // за границы экрана
                    // фиксированная ширина - 300px
                    let screenWidth = screen.width;
                    let termPos = t.getBoundingClientRect();
                    if((termPos.x+termPos.width+10)>screenWidth){
                        // по умолчанию -150 - увеличим
                        t.style.left = '-'+(150+(termPos.x+termPos.width+10)-screenWidth)+'px';
                    }

                })

            }
            let terms = document.evaluate('//span[@class="term"]', document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
            console.log(terms.snapshotLength);
            for(let i=0;i<terms.snapshotLength;i++){
                let term = terms.snapshotItem(i);
                console.log(term);
                //term.addEventListener('mouseover', termDefinitionShow);
                term.addEventListener('click', termDefinitionShow);
            }
            //console.log(topLevelQuotes)
        })
    </script>
</body>
{% load static %}
<script src="{% static "texts/js/main.js" %}"></script>
{% endblock %}